@charset "UTF-8";

/* global */
* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* header */
header {
    background-color: black;
    padding: 40px 0px;
    color: white;
    text-align: center;
}

/* footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0,8em;
    padding: 5px;
}