@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body > header {
    background-color: black;
    padding: 40px 0px;
    color: white;
    text-align: center;
}

body > footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0,8em;
    padding: 5px;
}