@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #3B9667, #4DE396);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2d724ede;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #1D5096;
    text-align: center;
    text-shadow: 1px 1px 2px #3888f0c5;
}
h2{
    color: #3680E3;
}

p {
    text-align: justify;
}
